@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  background-color: #f9faf8;
  font-family: "Roboto";
}

.hero-wrapper .carousel-item {
  height: 32rem;
  background: #1f2937;
  color: #f9faf8;
  position: relative;
}

.hero-wrapper .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero-wrapper .overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: bottom;
  background-size: cover;
  opacity: 0.4;
}

#carouselbanner .list-inline {
  white-space: nowrap;
  overflow-x: auto;
}

#carouselbanner .carousel-indicators {
  position: absolute;
  margin-bottom: 10px;
}

#carouselbanner .carousel-indicators > li {
  width: 12rem;
  height: 8rem;
  text-indent: initial;
  opacity: 1;
  background: transparent;
}

#carouselbanner .carousel-indicators > li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#carouselbanner .carousel-indicators > li a {
  opacity: 1;
}

@media (max-width: 576px) {
  .hero-wrapper .carousel-item {
    height: 25rem;
  }
}
